{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Books Filter</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <h1 class="m-5">Upload File Here .. and hope it works</h1>
  <form class="m-5" method="post" enctype="multipart/form-data" action="books">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  <div class="m-5">
    <h4>File URL</h4>
    <p>{{uploaded_file_url}}</p>
    <h4>File Data as Table</h4>
    <p>{{user_data}}</p>
    <h4>File Columns</h4>
    <form action="books2" method="post">
      {% csrf_token %}
      <select style="width:500px;" name="csv_col_names" id="" multiple>
        <option value="all">All</option>
        {% for headers in column_data %}
        <option value="{{headers}}">{{headers}}</option>
        {% endfor %}
      </select>
      <button type="submit">Show Rows</button>
      <!-- <input type="text" name="textn" value={{uploaded_file_url}}> -->
    </form>
    <h4> Column Data </h4>
    <p>{{main_data}}</p>

  </div>

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>